body{
    color:rgba(0,0,0,.6);
    margin:0;
    font-size:12pt;
    font-family:'Segoe UI',Verdana,Arial;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

ul li{
    padding:6px 3px;
}

li:hover{
    background-color:rgb(229,229,229);
}

a{
    display: block;
    width:100%;
    color: rgba(0, 130, 135, .6);
    text-decoration:none;
}

a:focus{
    outline:none;
}

a:visited{
    color: rgba(0, 130, 135, .6);
}

a:hover{
    color: rgba(37, 187, 196, .5);
}

#Wrap{
    position: absolute;
    width:600px;
    height:400px;
    top:50%;
    left:50%;
    margin-top:-210px;
    margin-left:-320px;
    background-color:rgb(255,255,255);
}

#Banner{
    margin:12px 0;
}

#Name{
    font-size:32pt;
    font-weight:normal;
    margin-left:-3px;
}

#Left{
    width:18%;
    float: left;
}

#Right{
    width:80%;
    float:right;
}

.Header{
    display:block;
    font-size:16pt;
    padding-bottom:6px;
}

#StartLink{
    position: fixed;
    right:0;
}

#StartLink a{
    display: block;
    width:66px;
    height:66px;
}

/* start page */
#NAVLinks{
    width:75%;
    margin:0 auto;
}

.column{
    width:20%;
    margin:2%;
    float: left;
}

.block{
    margin:10px auto;
    padding-bottom: 10px;
}

#HomeLink{
    position: fixed;
    float:left;
}

#HomeLink a{
    display: block;
    width:66px;
    height:66px;
}

#Search{
    position:fixed;
    width:100%;
    bottom:0;
    font-size:14pt;
    color:rgba(0,0,0,.3);
}

#Search input{
    width:80%;
    margin:0 auto;
    color:rgba(0,0,0,.3);
    font-size:14pt;
    font-family:'Segoe UI',Verdana,Arial;
    border:none;
}

